#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>

/ {
    aliases {
        led5180 = &led1;
        button5180 = &button0;
    };
};

&i2c1 {
    status = "okay";
    clock-frequency = <100000>;

    pinctrl-0 = <&lab_i2c1_default>;
    pinctrl-1 = <&lab_i2c1_sleep>;
    pinctrl-names = "default", "sleep";

    #include "bme280-node.dtsi"
};

&pinctrl {
    lab_i2c1_default: lab_i2c1_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 1, 14)>,
                    <NRF_PSEL(TWIM_SDA, 1, 15)>;
        };
    };

    lab_i2c1_sleep: lab_i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 1, 14)>,
                    <NRF_PSEL(TWIM_SDA, 1, 15)>;
            low-power-enable;
        };
    };
};
